doctype html 
html 
 head
  title Simran Collection 
  block scripts
  block style 
  
  style 
        include ../static/style.css
 body
 div.body
   
        
  nav#navbar 
        h1#title Simran Collection
        ul#navprop 
         li #[a(href="/") Home ]
         li #[a(href="/about") About ]
         li #[a(href="/products") Products ]
         li #[a(href="/contact") Contact Us]
  //-    li #[a(href="/cart") Cart]

  block content 
      
       

  footer#footer 
                    | Copyrights © 2022 SimranCollection.com | All rights reserved
  block script
   script 
       include ../index.js 


