extends base.pug

block style 
       style 
         include ../static/style.css
         include ../static/contactstyle.css
block content 
     section.main-container
          h1.heading Contact Us
          div.container
              form(action="/contact" , method='post', class='form')
                  input(type="text", class='input', name='name', placeholder='Enter your name',
                  required)
                  input(type="number", class='input', name='age', placeholder='Enter your age',
                  required)
                  input(type="number", class='input', name='number', placeholder='Enter your number',
                  required)
                  input(type="email", class='input', name='email', placeholder='Enter your email',
                  required)
                  input(type="text", class='input', name='address', placeholder='Enter your Address',
                  required)
                  input(type="text", class='input', name='others', placeholder='Suggestion',
                  required)
                  button(type="submit") 
                    |submit
                  
            
            
