*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
.main-container{
   height: 80vh;
    
}
.heading{
    padding-top: 20px;
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    width: 30%;
    min-height: 65vh;
    border: solid darkgrey;
    border-radius: 10px;
    background-color: lightgray;
}
.input{
    width: 92%;
    height: 11%;
    margin: 8px;
    padding: 10px;
    border-radius: 10px;
    border: darkgray;
    border-width: thin;
    outline: none;
}